body {
    margin: 0;
}

.container {
    background: #ececec;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.clock-panel {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.4);
    height: max-content;
    width: max-content;
    margin: 20px;
}

.background {
    position: relative;
    border: 1px solid #f1f1f1;
    background: #e7e7e7;
    background: linear-gradient(90deg, #dfdddd 0%, #e7e7e7 50%, #f3f3f3 100%);
    box-shadow: 0 5px 10px 2px rgba(253, 253, 253, 0.2) inset;
}

.clock {
    position: absolute;
    background: #ededed;
    background: linear-gradient(135deg, #ededed80 0%, #efefef80 100%);
    border: 1px solid #e7e7e7;
    box-shadow: -8px 0 10px -5px rgba(163, 163, 163, 0.5) inset;
    border-radius: 50%;
}

.clock .hour {
    position: absolute;
    width: 4px;
    top: 50%;
    left: calc(50% - 2px);
    background: black;
    transform-origin: top;
    transform: rotate(45deg);
    transition: 3s;
}

.clock .minute {
    position: absolute;
    width: 4px;
    top: calc(50%);
    left: calc(50% - 2px);
    background: black;
    transform-origin: top;
    transform: rotate(45deg);
    transition: 2s;
}

.clock .dot {
    position: absolute;
    height: 4px;
    width: 4px;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    background: black;
    border-radius: 2px;
}

.oled-bg .container {
    background: #000 !important;
}

.oled-bg .clock-panel {
    box-shadow: none !important;
}

.oled-bg .background {
    border: none !important;
}