.dark-theme .background {
    border: 1px solid #cdcdcd;
    background: rgb(28 28 28);
    background: linear-gradient(90deg, #181818 0%, #262626 50%, #262525 100%);
    box-shadow: 0 5px 15px 2px rgba(24, 24, 24, 0.6) inset;
}

.dark-theme .clock {
    background: rgb(34, 34, 34);
    background: linear-gradient(90deg, #1f1f1f80 0%, #23232380 100%);
    border: 1px solid #000000;
    box-shadow: -6px -6px 9px -6px rgb(0 0 0) inset;
}

.dark-theme .hour, .dark-theme .minute, .dark-theme .dot {
    background: white;
}

.dark-gold-theme .background {
    border: 1px solid #cdcdcd;
    background: rgb(28 28 28);
    background: linear-gradient(90deg, #181818 0%, #262626 50%, #242424 100%);
    box-shadow: 0 5px 10px 2px rgba(48, 48, 48, 0.5) inset;
}

.dark-gold-theme .clock {
    background: #1f1f1f;
    background: linear-gradient(90deg, #1f1f1f 0%, #232323 100%);
    border: 1px solid #000000;
    box-shadow: -6px -6px 9px -6px rgb(0 0 0) inset;
}

.dark-gold-theme .hour, .dark-gold-theme .minute, .dark-gold-theme .dot {
    background: #e8b882;
    background: linear-gradient(45deg, #e6b77f 0%, #f1cd9f 100%);
    box-shadow: -2px 0 12px 0 rgba(230, 183, 127, 0.35);
}

.light-gold-theme .background {
    border: 1px solid #cdcdcd;
    background: rgb(28 28 28);
    background: linear-gradient(90deg, #dbd7d7 0%, #cdcdcd 50%, #eaeaea 100%);
    box-shadow: 0 5px 20px -5px rgba(183, 183, 183, 0.3) inset;
}

.light-gold-theme .clock {
    background: #e4e4e4;
    background: linear-gradient(90deg, #e4e4e4 0%, #c2c2c2 100%);
    border: 1px solid #d3d3d3;
    box-shadow: -10px 0 8px -5px #b7b7b7e0 inset;
}

.light-gold-theme .hour, .light-gold-theme .minute, .light-gold-theme .dot {
    background: #c99e65;
    background: linear-gradient(45deg, #c99e65 0%, #c5995b 100%);
    box-shadow: -2px 0 10px 0 rgba(198, 155, 94, 0.35);
}

.dark-noir-theme .background {
    border: 1px solid #cdcdcd;
    background: rgb(28 28 28);
    background: linear-gradient(90deg, #181818 0%, #262626 50%, #242424 100%);
    box-shadow: 0 5px 10px 2px rgba(48, 48, 48, 0.5) inset;
}

.dark-noir-theme .clock {
    background: #1f1f1f;
    background: linear-gradient(90deg, #1c1c1c 0%, #181818 100%);
    border: 1px solid #000000;
    box-shadow: -9px -9px 6px -5px rgba(0, 0, 0, 0.3) inset;
}

.dark-noir-theme .hour, .dark-noir-theme .minute, .dark-noir-theme .dot {
    background: #232323;
    background: linear-gradient(45deg, #242424 0%, #383838 100%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.dark-noir-theme .hour, .dark-noir-theme .minute, .dark-noir-theme {
    width: 8px;
    left: calc(50% - 4px);
}

.dark-noir-theme .clock .dot {
    height: 8px;
    width: 8px;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    border-radius: 4px;
}

.blue-coated-theme .background {
    border: 1px solid #cdcdcd;
    background: #1d2737;
    background: linear-gradient(90deg, #122843 0%, #00132a 50%, #1d2737 100%);
    box-shadow: 0 5px 15px -5px rgba(2, 10, 34, 0.5) inset;
}

.blue-coated-theme .clock {
    background: #1f1f1f;
    background: linear-gradient(90deg, rgba(31, 46, 71, 0.4) 0%, rgba(28, 45, 72, 0.4) 100%);
    border: 1px solid rgba(23, 41, 66, 0.6);
    box-shadow: 15px 5px 15px -6px rgba(2, 14, 28, 0.6) inset;
}

.blue-coated-theme .hour, .blue-coated-theme .minute, .blue-coated-theme .dot {
    background: #6e6e6f;
    background: linear-gradient(45deg, #9c9a97 0%, #6e6e6f 50%, #3a3736 100%);
    box-shadow: -2px 0 14px 0 rgba(219, 219, 219, 0.4);
}