.sqrt {
    --sqrt-guess00: calc((var(--sqrt_value) / 2));
    --sqrt-guess01: calc((var(--sqrt-guess00) + (var(--sqrt_value) / var(--sqrt-guess00))) / 2);
    --sqrt-guess02: calc((var(--sqrt-guess01) + (var(--sqrt_value) / var(--sqrt-guess01))) / 2);
    --sqrt-guess03: calc((var(--sqrt-guess02) + (var(--sqrt_value) / var(--sqrt-guess02))) / 2);
    --sqrt-guess04: calc((var(--sqrt-guess03) + (var(--sqrt_value) / var(--sqrt-guess03))) / 2);
    --sqrt-guess05: calc((var(--sqrt-guess04) + (var(--sqrt_value) / var(--sqrt-guess04))) / 2);
    --sqrt-guess06: calc((var(--sqrt-guess05) + (var(--sqrt_value) / var(--sqrt-guess05))) / 2);
    --sqrt-guess07: calc((var(--sqrt-guess06) + (var(--sqrt_value) / var(--sqrt-guess06))) / 2);
    --sqrt: calc((var(--sqrt-guess07) + (var(--sqrt_value) / var(--sqrt-guess07))) / 2);
}